/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body{
    size: 1295px * 5343.18px;
}
.container-fluid{
    background-color: aquamarine;
}

.btn-group-1{
    background-color: aliceblue;
}